<div class="date">
  <p>
    <i class="fa-regular fa-calendar-days"></i>
    <span>發表於</span>
    <span>
      <%- date(page.date, 'YYYY-MM-DD') %>
    </span>
  </p>
  <% if ( Number(page.date) !== Number(page.updated)) { %>
    <p>
      <i class="fa-regular fa-calendar-check"></i>
      <span>更新於</span>
      <span>
        <%- date(page.updated, 'YYYY-MM-DD') %>
      </span>
    </p>
  <% } %>
</div>