<header class="header__wrap">
  <div class="header__container">
    <a class="header__logo" href="/"><%- config.title %></a>
    <menu class="header__menu">
      <% site.categories.each(function(item) { %>
        <a href="/<%- item.path %>"><%- item.name %></a>
      <% }) %>
      <a href="<%- config.site %>" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
    </menu>
  </div>
</header>