---
import { SITE_TITLE } from '@/consts';

---

<header class="min-h-[60px] flex items-center m-0 py-0 px-[1rem] bg-white" style="box-shadow: 0 2px 8px rgba(var(--black), 5%)">
	<nav class="flex items-center justify-between">
		<h2 class="m-0 text-[1rem]"><a href="/" class="font-bold text-[20px] py-[1rem] px-[.5rem] text-[#333] hover:no-underline">{SITE_TITLE}</a></h2>
	</nav>
</header>